.button {
    background: $blue;
    border-radius: 500px;
    border: none;
    color: white;
    font-weight: 200;
    padding: $m-size $l-size;
}

.button-alert {
    background: $alert-red;
}

.button-round {
    background: $blue;
    border-radius: 500px;
    color: white;
    font-size: 2rem;
    height: 70px;
    margin-top: 2rem;
    position: absolute;
    right: 0;
    text-align: center;
    transition: all .2s ease-in-out;
    width: 70px;
    i {
        margin-top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
        margin-top: 1.9rem;
    }
}