header {
    background: $blue;
    margin-bottom: 3rem;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $m-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h2 {
        margin: 0;
    }
}

.header__links {
    a {
        color: white;
        font-size: $m-size;
        font-weight: 200;
        padding: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            cursor: pointer;
        }
    }
}