// Colors
$blue: #0B4958;
$green: #4D8A7C;
$light-green: #C4DB94;
$yellow: #FFF38B;
$orange: #FDB681;
$alert-red: #C02311;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
